p {
	width:300px;
	font-family:"Sans Serif";
	font-size:18px;
}

img {
	width:300px;
	height:61px;
}

.legendElt {
	display:flex;
	flex-direction:row;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}

.legendColor {
	height:20px;
	width:40px;
	border-style:solid;
	border-width:2px;
}

.legendText {
	font-family:"Sans Serif";
	font-size:20px;
	margin-left:5px;
}

#page_block {
	align-content:center;
	align-items:center;
}

#time {
	font-family:"Sans Serif";
	font-size:40px;
	font-weight:bold;
}

#timeTxt {
	font-family:"Sans Serif";
	font-size:30px;
}

#startBtn {
	width:200px;
}

#parMarker {
	font-family:"Sans Serif";
	font-size:20px;
	font-weight:bold;
}

#validBtn {
	width:360px;
	font-family:"Sans Serif";
	font-size:20px;
	font-weight:bold;
}
