<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/addMarker.css">
		<title>Ajouts de balises</title>
	</head>
	<body>
		<div id="pageBlock">
			<img src="../asset/logo_insa.png" style="">
			<h2>Ajouter une balise</h2>
			<!--FORMULAIRE DEGRES-->
			<div style="margin-top:10px;margin-bottom:5px;" class="formContainer">
				<form id="pupilForm1">
					<div id="numberAndType1" style="display:flex;flex-direction:row;">
						<span id="numSpan1">Numéro</span>
						<input id="numberInput1" class="textInput" type="text" name="numberInput" placeholder="0" required="true">
						<span id="typeSpan1">Type de balise</span>
						<select id="typeInput1" type="text" name="typeInput" placeholder="0">
							<option>Individuelle
							<option>Collective
						</select>
					</div>
					<div id="latitude1" style="display:flex;flex-direction:row;">
						<span style="width:140px;">Latitude</span>
						<label><input id="north1" type="radio" name="verticalDir" value="north" checked="checked">Nord</label>
						<label><input id="south1" type="radio" name="verticalDir" value="south">Sud</label>
						<input id="vertDeg1" class="textInputLong" type="text" name="degree" placeholder="00" required="true">°
					</div>
					<div id="longitude1" style="display:flex;flex-direction:row;">
						<span style="width:140px;">Longitude</span>
						<label><input id="east1" type="radio" name="horizontalDir" value="east" checked="checked">Est</label>
						<label><input id="west1" type="radio" name="horizontalDir" value="west">Ouest</label>
						<input id ="horizDeg1" class="textInputLong" type="text" name="degree" placeholder="00" required="true">°
					</div>
				</form>
				<button id="validBtn1" style="margin:0px;">Ajouter la balise</button>
			</div>
			
			<!--FORMULAIRE DEGRES MINUTES SECONDES-->
			<div style="margin-top:10px;margin-bottom:5px;" class="formContainer">
				<form id="pupilForm2">
					<div id="numberAndType2" style="display:flex;flex-direction:row;">
						<span id="numSpan2">Numéro</span>
						<input id="numberInput2" class="textInput" type="text" name="numberInput" placeholder="0">
						<span id="typeSpan2">Type de balise</span>
						<select id="typeInput2" type="text" name="typeInput" placeholder="0">
							<option>Individuelle
							<option>Collective
						</select>
					</div>
					<div id="latitude2" style="display:flex;flex-direction:row;">
						<span>Latitude</span>
						<label><input id="north2" type="radio" name="verticalDir" value="north" checked="checked">Nord</label>
						<label><input id="south2" type="radio" name="verticalDir" value="south">Sud</label>
						<input id="vertDeg2" class="textInput" type="text" name="degree" placeholder="00">°
						<input id="vertMin2" class="textInput" type="text" name="minutes" placeholder="00">'
						<input id="vertSec2" class="textInput" type="text" name="seconds" placeholder="00">''
					</div>
					<div id="longitude" style="display:flex;flex-direction:row;">
						<span>Longitude</span>
						<label><input id="east2" type="radio" name="horizontalDir" value="east" checked="checked">Est</label>
						<label><input id="west2" type="radio" name="horizontalDir" value="west">Ouest</label>
						<input id ="horizDeg2" class="textInput" type="text" name="degree" placeholder="00">°
						<input id="horizMin2" class="textInput" type="text" name="minutes" placeholder="00">'
						<input id="horizSec2" class="textInput" type="text" name="seconds" placeholder="00">''
					</div>
				</form>
				<button id="validBtn2" style="margin:0px;">Ajouter la balise</button>
			</div>
			<div style="display:flex;flex-direction:column;">
				<button id="goToRouteMaking">Créer un parcours de balise</button>
				<button id="goToTeacherServiceChoice">Retour à l'espace professeur</button>
			</div>
		</div>
		<script src="../js/addMarker.js"></script>
	</body>
</html>
