<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/addMarker.css">
		<title>Ajouts de balises</title>
	</head>
	<body>
		<div id="pageBlock">
			<img src="../asset/logo_insa.png" style="">
			<h2>Ajouter une balise</h2>
			<form id="pupilForm">
				<div id="numberAndType" style="display:flex;flex-direction:row;">
					<span id="numSpan">Numéro</span>
					<input id="numberInput" class="textInput" type="text" name="numberInput" placeholder="0">
					<span id="typeSpan">Type de balise</span>
					<select id="typeInput" type="text" name="typeInput" placeholder="0">
						<option>Individuelle
						<option>Collective
					</select>
				</div>
				<div id="latitude" style="display:flex;flex-direction:row;">
					<span>Latitude</span>
					<label><input id="north" type="radio" name="verticalDir" value="north" checked="checked">North</label>
					<label><input id="south" type="radio" name="verticalDir" value="south">South</label>
					<input id="vertDeg" class="textInput" type="text" name="degree" placeholder="00">°
					<input id="vertMin" class="textInput" type="text" name="minutes" placeholder="00">'
					<input id="vertSec" class="textInput" type="text" name="seconds" placeholder="00">''
				</div>
				<div id="longitude" style="display:flex;flex-direction:row;">
					<span>Longitude</span>
					<label><input id="east" type="radio" name="horizontalDir" value="east" checked="checked">East</label>
					<label><input id="west" type="radio" name="horizontalDir" value="west">West</label>
					<input id ="horizDeg" class="textInput" type="text" name="degree" placeholder="00">°
					<input id="horizMin" class="textInput" type="text" name="minutes" placeholder="00">'
					<input id="horizSec" class="textInput" type="text" name="seconds" placeholder="00">''
				</div>
				<!--<input id="submitBtn" type="submit" value="Ajouter">-->
			</form>
			<button id="validBtn">Ajouter la balise</button>
			<div style="display:flex;flex-direction:column;">
				<button id="goToRouteMaking">Créer un parcours de balise</button>
				<button id="goToTeacherServiceChoice">Retour à l'espace professeur</button>
			</div>
		</div>
		<script src="../js/addMarker.js"></script>
	</body>
</html>
