<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/addPupil.css">
		<title>Inscription d'élèves</title>
	</head>
	<body>
		<div id="pageBlock">
			<form>
				<label for="firstname">Prénom</label>
				<input id="firstname" name="firstname" type="text" placeholder="Prénom de l'élève"/>
				<label for="lastname">Nom</label>
				<input id="lastname" name="lastname" type="text" placeholder="Nom de l'élève"/>
				<label for="class">Classe</label>
				<input id="class" name="class" type="text" placeholder="Classe de l'élève"/>
			</form>
			<button id="validBtn">Valider</button>
		</div>
		<script src="../js/addPupil.js"></script>
	</body>
</html>
