<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/groupMaking.css">
		<title>Création des groupes</title>
	</head>
	<body>
		<div id="blockPage" style="display:flex;flex-direction:column;">
			<div id="nbPupilsChoiceContainer">
				<p>Bienvenue dans l'espace de création des groupes. Dans un premier temps, vous devez déterminer de combien d'élèves seront composés les différents groupes.</p>
				<div id="inputContainer" style="display:flex;flex-direction:row;">
					<label for="pupilsPerGroup">Nombre d'élèves par groupe</label>
					<input id="pupilsPerGroup" name="pupilsPerGroup" type="number" min=1 value=1>
					<button id="validPupilsPerGroup">OK</button>
				</div>
			</div>
			
			<div id="groupMakingContainers" style="display:none;">
				<div class="container">
					<h2>Liste des élèves</h2>
					<div id="listOfPupils">
					</div>
					<button id="groupValidBtn">Valider le groupe</button>
				</div>
				<div class="container" id="groupsList">
					<h2>Groupes formés</h2>
				</div>
			</div>	
			
		</div>
		<script src="../js/groupMaking.js"></script>
	</body>
<html>
