<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/groupMaking.css">
		<title>Création des groupes</title>
	</head>
	<body>
		<div id="blockPage">
			<div class="container">
				<h2>Liste des élèves</h2>
				<div id="listOfPupils">
				</div>
				<button id="groupValidBtn">Valider le groupe</button>
			</div>
			<div class="container" id="groupsList">
				<h2>Groupes formés</h2>
			</div>
		</div>
		<script src="../js/groupMaking.js"></script>
	</body>
<html>
