<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/login.css">
		<title>Authentification</title>
	</head>
	<body>
		<div id="block_page">
			<img src="../asset/logo_insa.png" style="">
			<h1>Orient'INSA</h1>
			<form>
				<label for="username">Identifiant</label>
				<input id="username" name="username" type="text" placeholder="Votre identifiant"/>
				<label for="password">Mot de passe</label>
				<input id="password" name="password" type="password" placeholder="Votre mot de passe"/>
			</form>
			<button id="validBtn">Valider</button>
		</div>
		<script src="../js/login.js"></script>
	</body>
</html>
