<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="../css/progress.css" rel="stylesheet">
		<title>Votre progression.</title>
	</head>
	<body>
		<div id="page_block">
            <div id="quitBtn">
                <button id="logoutBtn">Déconnexion</button>
            </div>
			<div id="raceIsNotRunning">
				<img src="../asset/logo_insa.png">
				<p>Bienvenue dans l'espace élève!<br/>
				Aucune course d'orientation n'est encore en cours. Merci de patienter.</p>
				<button id="startRace">Course lancée.</button>
			</div>
			<div id="raceIsRunning" style="display:none;flex-direction:column;">
				<div style="display:flex;flex-direction:column;">
					<span id="timeTxt">Temps restant</span>
					<span id="time" style="display:flex;flex-direction:row"><span id="0h">0</span><span id="hours">0</span>:<span id="0m">0</span><span id="minutes">0</span>:<span id="0s">0</span><span id="seconds">0</span></span>
					<!--<button id="startBtn">Compte à rebours</button>-->
				</div>
				<span id="parMarker">Balise n°<span id="numMarker">0</span> trouvée!</span>
				<div id="legend">
				</div>	
				<div>
					<div id="gridMarkers"></div>
				</div>
				<button id="validBtn" disabled="true">Valider vos résultats</button>
			</div>
		</div>
		<script src="../js/progress.js"></script>
		<script src="../js/timeout.js"></script>
	</body>
</html>
