<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/race.css">
		<title>Informations sur la course</title>
	</head>
	<body>
		<div id="pageBlock">
			<h1>Résumé de la course</h1>
			<div id="groupsMainContainer" style="display:flex;flex-direction:column;">
				<h2>Groupes inscrits</h2>
			</div>
			<div id="routesMainContainer" style="display:flex;flex-direction:column;">
				<h2>Parcours formés</h2>
			</div>
		</div>
		<script src="../js/groupsContainer.js"></script>
		<script src="../js/routesContainer.js"></script>
	</body>
</html>
