<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/teacherServiceChoice.css">
		<title>Accueil professeur</title>
	</head>
	<body>
        <div id="quitBtn">
            <button id="logoutBtn">Déconnexion</button>
        </div>
		<div id="pageBlock">
			<div style="width:300px;align-item:center;">
				<h2>Espace Professeur</h2>
				<p>Bonjour, <span id="teacherName"></span>. Bienvenue dans l'espace professeur d'Orient'INSA.<br/>
				Que voulez-vous faire?</p>
				<div style="display:flex;flex-direction:column;">
					<button id="addPupil">Inscrire des élèves</button>
					<button id="makeGroup">Former des groupes</button>
					<button id="raceProgress">Accéder au déroulement</br> de la course</button>
				</div>
			</div>
		</div>
		<script src="../js/teacherServiceChoice.js"></script>
	</body>
</html>
