<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/teacherServiceChoice.css">
		<title>Accueil professeur</title>
	</head>
	<body>
		<div id="pageBlock">
			<div style="width:300px;align-items:center;">
				<h1>Espace Professeur</h1>
				<div id="quitBtn">
				    <button id="logoutBtn">Déconnexion</button>
				</div>
				<p>Bonjour, <span id="teacherName"></span>. Bienvenue dans l'espace professeur d'Orient'INSA.<br/>
				Que voulez-vous faire?</p>
				<div style="display:flex;flex-direction:column;align-content:center;align-items:center;margin-left:0px;">
					<h2>Les élèves</h2>
					<button id="addPupil">Inscrire des élèves à la course</button>
					<button id="makeGroup">Former des groupes pour la course</button>
					<h2>Les balises</h2>
					<button id="addMarker">Ajouter des balises</button>
					<button id="makeRoute">Créer des parcours de balises</button>
					<h2>La course</h2>
					<button id="raceResume">Résumé de la course</button>
					<button id="raceProgress">Accéder au déroulement de la course</button>
				</div>
			</div>
		</div>
		<script src="../js/teacherServiceChoice.js"></script>
	</body>
</html>
