<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/teacherInterface.css">
		<title>Avancée de la course.</title>
	</head>
	<body>
		<div id="page_block">
			<div id="time">
				<span id="stopwatch"><span id="0h">0</span><span id="hours">0</span>:<span id="0m">0</span><span id="minutes">0</span>:<span id="0s">0</span><span id="seconds">0</span></span>
				<button id="startBtn">Lancer la course!</button>
				<div id="endOfRace">Fin de la course!</div>
			</div>
			<div id="progressGrid" style="display:felx;flex-direction:column;margin-top:10px;">
			</div>			
		</div>
		
		<script src="../js/stopwatch.js"></script>
		<script src="../js/globalProgress.js"></script>
	</body>
</html>
